<div class="container">

  <h1 class="py-3">Les véhicules de Star Wars</h1>
  <ul class="list-group pb-3">
    <% @vehicles.each do |vehicle| %>
      <li class="list-group-item"><%= link_to "#{vehicle.name}", vehicle_path(vehicle)  %></li>
    <% end -%>
  </ul>

</div>
